@page "/admin"

@using System.Text
@using System.Net.Http
@using System.Text.Json
@using MatBlazor
@using System.Linq

@inject HttpClient Http

<PageTitle>Admin</PageTitle>

<head>
    <link rel="stylesheet" href="css/admin.css" />
</head>

<h1>Admin Page</h1>

<div class="user-info">
    @if (!string.IsNullOrEmpty(currentUser))
    {
        <p>Logged in as: <a class="user-link" @onclick="ToggleUserPopup">@currentUser</a></p>
        <div class="user-popup" style="display: @(showUserPopup ? "block" : "none")">
            <button class="popup-button">Log out</button>
            <button class="popup-button">Change Password</button>
        </div>
        <div class="popup-overlay" style="display: @(showUserPopup ? "block" : "none")" @onclick="CloseUserPopup"></div>
    }
    else
    {
        <p>Not logged in.</p>
    }
</div>

<form class="search-form">
    <div class="search-bar">
        <input type="text" class="form-control" id="searchInput" list="nameSuggestions" @oninput="@UpdateSearchTermString" placeholder="Search in logs" />

        <!-- Start and End Date Input -->
        <MatDatePicker Label="Start Date" @bind-Value="startDate"  OnInput="@UpdateStartDate" Maximum="@DateTime.Now" ></MatDatePicker>
        <MatDatePicker Label="End Date" @bind-Value="endDate" OnInput="@UpdateEndDate" Minimum="@startDate" Maximum="@DateTime.Now"></MatDatePicker>

        @if (string.IsNullOrEmpty(SearchTerm))
        {
            <span class="search-icon">
                <i class="bi bi-search"></i>
            </span>
        }
    </div>
    @* <button type="button" class="btn btn-primary search-button" @onclick="PerformSearch">Search</button> *@
</form>

<div class="admin-actions">
    @* <button type="button" class="btn btn-success add-button" disabled @onclick="OpenAddHashtagPopup">Add Hashtag</button> *@
    <button type="button" class="btn btn-primary view-activity-button" @onclick="ToggleUserActivity">View Graph</button>
    @* <button type="button" class="btn btn-primary show-hide-button" disabled @onclick="ToggleShowHidePosts">Show/Hide Posts</button> *@
</div>


@if (showUserActivity)
{
    <div class="graph">
        <WeeklySearchGraph />
    </div>
}
    <div class="user-activity">
        <h2>User Activity</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in logs)
                {
                    <tr>
                        <td>@user.id</td>
                        <td>@user.Username</td>
                        <td>@user.Date.ToShortDateString()</td>
                        <td>@user.Action</td>
                        <td>@user.ActionDetail</td>
                    </tr>
                   
                }
            </tbody>
        </table>
    </div>

@code {
 

   
    private string currentUser = "Admin";
    private bool showAddHashtagPopup = false;
    private bool showUserActivity = false;
    private List<SearchLog> users=new List<SearchLog>();
    private bool showPosts = true;
    private bool showUserPopup = false;

    private void ToggleUserPopup()
    {
        showUserPopup = !showUserPopup;
    }

    private void CloseUserPopup()
    {
        showUserPopup = false;
    }

    private DateTime? _startDate;

private DateTime? startDate 
{
    get 
    {
        return _startDate;
    } 
    set 
    {
        _startDate = value;
        PerformSearch(searchTerm);
        StateHasChanged();
    }
}

private DateTime? _endDate;

private DateTime? endDate 
{
    get 
    {
        return _endDate;
    } 
    set 
    {
        _endDate = value;
        PerformSearch(searchTerm);
    }
}


    private void UpdateStartDate(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value.ToString(), out var date))
        {
            startDate = date;
            PerformSearch(searchTerm);
        }
    }

    private void UpdateEndDate(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value.ToString(), out var date))
        {
            endDate = date;
            PerformSearch(searchTerm);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Dummy data for user activity
        var httpClient = new HttpClient();
        var request=new HttpRequestMessage(HttpMethod.Get, "https://localhost:7194/Logger/GetAll");

        var response=await httpClient.SendAsync(request);
        response.EnsureSuccessStatusCode();
        var save=await response.Content.ReadFromJsonAsync<List<SearchLog>>();
        if (save != null)
        {
            foreach (var ceva in save)
            {
                SearchLog searchLog = new SearchLog();

                if (ceva != null)
                {
                    searchLog.id = ceva.id; // Assuming id is of type int
                    searchLog.IdUser = ceva.IdUser; // Assuming IdUser is of type int
                    searchLog.Date = ceva.Date != null ? ceva.Date : DateTime.MinValue; // Assuming Date is of type DateTime
                    searchLog.Action = ceva.Action;
                    searchLog.ActionDetail = ceva.ActionDetail;
                }

                users.Add(searchLog);
            }
            
            users.Sort((a, b) => b.Date.CompareTo(a.Date));
            startDate = users.Last().Date;
            _endDate = DateTime.Now;
            SearchTerm=string.Empty;
            logs = users;
            GetUsernames();
   
        }
    } 
    private void UpdateSearchTermString(ChangeEventArgs e)
    {
        SearchTerm = e.Value.ToString();
    }
    private string? searchTerm;
    private string? SearchTerm{
        get{
            return searchTerm;
            }
        set{
            searchTerm=value;
            PerformSearch(value);
        }
    }

    private async void GetUsernames(){
        HashSet<int> set=new HashSet<int>();
        var httpClient = new HttpClient();

        foreach(var x in users){
            set.Add(x.IdUser);
        }

        string jsonString = JsonSerializer.Serialize(set);
        HttpContent content=new StringContent(jsonString,Encoding.UTF8,"application/json");
        
        HttpResponseMessage response = await httpClient.PostAsync("https://localhost:7194/api/User/nume", content);
        var responseContent = await response.Content.ReadAsStringAsync();

        List<IdNume> data= JsonSerializer.Deserialize<List<IdNume>>(responseContent);
        foreach(var ceva in logs){
            var match = data.FirstOrDefault(val => val.idUser == ceva.IdUser);
            
            if(match!=null){
                ceva.Username=string.IsNullOrEmpty(match.username)?"[Deleted User]":match.username;
            }
             else{
                ceva.Username="[Deleted User]";
            }   
        }
        StateHasChanged();

    }
    private void PerformSearch(string value)
{
    value = value?.Trim();
    logs = users.Where(x => x.ActionDetail != null 
    && x.Date != null && startDate != null && endDate != null 
    && x.ActionDetail.ToLowerInvariant().Contains(value.ToLowerInvariant()) 
    && x.Date.Date >= startDate?.Date.AddDays(1) && x.Date.Date <= endDate?.Date.AddDays(1)).ToList();

   
    StateHasChanged();
}

    private List<SearchLog> logs = new List<SearchLog>();
    private void OpenAddHashtagPopup()
    {
        showAddHashtagPopup = true;
    }

    private void CloseAddHashtagPopup()
    {
        showAddHashtagPopup = false;
    }

    private void ToggleUserActivity()
    {
        showUserActivity = !showUserActivity;
    }

    private void ToggleShowHidePosts()
    {
        showPosts = !showPosts;
    }

    public class SearchLog
    {
        public int id {get; set;}
        public int IdUser {get; set;}
        public DateTime Date { get; set; }
        public string? Action { get; set; }
        public string? ActionDetail { get; set; }
        public string? Username {get; set;}
        @* public bool ShowDetails { get; set; } = false; *@
    }
    public class IdNume 
    {
        public int idUser {get;set;}
        public string? username {get;set;}
    }
}


